<% title 'Избранные записи' %>
<% page_title 'Ваши избранные записи' %>
<div id="entities">
  <%= render :partial => 'entities/small_entity', :collection => @entities, :as => :entity %>
</div>
<%= will_paginate @entities  %>