$('#entities').append('<%= j render :partial => 'entities/small_entity', :collection => @entities, :as => :entity %>').find('div.entity_text').expander({expandText: 'читать полностью', userCollapse: false, slicePoint: 300});
<% if @entities.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @entities %>');
<% else %>
  $('.pagination').remove();
<% end %>