<div class="comment clear">
  <div>
    <div class="comment-avatar">
      <%= image_tag comment.user.avatar_url, :size => '35x35' %>
    </div>
    <div class="comment-data">
      <%= link_to h(comment.user.full_name), comment.user  %>
      <div class="comment-text">
        <%=h comment.content %>
      </div>
      <div class="comment-footer">
        <span>
          <%= Russian::strftime(comment.created_at, '%d %b в %H:%M') %>
          <% if is_admin? %>
            <span> | </span>
            <%= link_to 'Удалить', comment, :class => 'remove_link', :confirm => 'Вы согласны?', :remote => true, :method => 'delete' %>
          <% end %>
        </span>
      </div>
    </div>
  </div>
</div>