<div id="new_comment_<%= @entity.id %>" class="comment-form">
  <%= form_for @comment, :remote => true do |f| %>
    <%= hidden_field_tag :entity_id, @entity.id %>
    <%= render :partial => 'shared/form_errors', :locals => { :errors => @comment.errors } if @comment.errors.any?%>
    <div class="comment-form-header">Ваш комментарий</div>
    <div class="clearfix comment-form-content">
      <%= f.text_area :content %>
    </div>
    <%= f.submit 'Отправить', :class => 'btn primary' %>

  <% end %>
</div>
