<% if (@comment.errors.present?) %>
  if ($('#new_comment div.error_explanation').length) {
    $('#new_comment div.error_explanation').replaceWith('<%= j render :partial => 'shared/form_errors', :locals => { :errors => @comment.errors }%>');
  } else {
    $('<%= j render :partial => 'shared/form_errors', :locals => { :errors => @comment.errors }%>').insertAfter('#new_comment div.comment-form-header');
  }
  $('#comment_content').val('<%=h @comment.content %>').focus();
<% else %>
  if ($('#comments').length > 0) {
    $('#comments div.comments-content').append('<%= j render :partial => 'comments/comment', :locals => { :comment => @comment }%>');
    $('#comment_content').val('').focus();
  } else {
    $('#entity_<%= @entity.id %> div.comment-form').remove();
    $('#entity_<%= @entity.id %> span.replay_entity a').html('Комментировать (<%= @entity.comment_count + 1 %>)');
    $('#entity_<%= @entity.id %> span.replay_entity').show();
  }
<% end %>