<% if is_logged? %>
  if ($('#new_comment_<%= @entity.id %>').length == 0) {
    $('.comment-form').remove();
    $('span.replay_entity').show();
    $('#entity_<%= @entity.id %> span.replay_entity').hide();
    $('#entity_<%= @entity.id %> td.info').append('<%= j render 'form' %>');
    $('#comment_content').focus();
    $('#new_comment').customFormSubmit();
  }
<% else %>
  if ($('#content div.alert-message').length == 0) {
    $($('#content div.row').children()[0]).prepend($('<%= j content_tag :div,  "Вы должны авторизироваться чтобы комментировать записи.", :class => "alert-message "%>'));
  }
  $('div.alert-message').flashMessage();
<% end %>