<div id="entity_<%= entity.id %>" class="entity">
  <table>
    <tr>
      <td class="image"><%= image_tag entity.user.avatar_url, :size => '50x50' %></td>
      <td class="info">
        <div class="entity_content">
          <% if entity.created_at.strftime('%Y-%m-%d') == Time.now.strftime('%Y-%m-%d') %>
            <span class="label success">New</span>
          <% end %>
          <% if controller?('entities') and action?('index') and params[:type].nil? %>
            <% if entity.type == 'Status' %>
              <span class="label notice">Статус</span>
            <% elsif entity.type == 'Anecdot' %>
              <span class="label important">Анекдот</span>
            <% end %>
          <% end %>
          <%= link_to h(entity.user.full_name), entity.user.auth_url, :class => 'author', :target => 'blank' %>
          <div class="pull-right">
            <% if is_admin? && entity.not_approved? %>
              <%= link_to 'Утвердить', approve_entity_path(entity), :class => 'approve_link', :method => 'post', :remote => true %>
            <% end %>
            <% if is_admin? %>
              <%= link_to 'Удалить', entity_path(entity), :class => 'remove_link', :confirm => 'Вы согласны?', :method => 'delete', :remote => true %>
            <% end %>
          </div>
          <a class="entity_text" href="<%= entity_path(entity)%>" title="Читать полностью">
            <%=raw nl2br(h entity.content) %>
          </a>
        </div>
        <div class="entity_footer">
          <div class="pull-left">
            <span><%= Russian::strftime(entity.created_at, '%d %b в %H:%M') %></span>
            <%= render :partial => 'shared/add_to_favorites', :locals => { :entity => entity } if is_logged? %>
            <span class="replay_entity">
              <span>|</span>
              <%= link_to "Комментировать (#{entity.comment_count})", new_comment_path(:entity_id => entity.id), :remote => true %>
            </span>
          </div>
          <%= render :partial => 'shared/voting', :locals => { :entity => entity } %>
          <br class="clear" />
        </div>
      </td>
    </tr>
  </table>
</div>