<div>
  <%= form_for @entity, :remote => true do |f| %>
    <%= render :partial => 'shared/form_errors', :locals => { :errors => @entity.errors } if @entity.errors.any?%>
    <div class="clearfix">
      <%= f.label :type %>
      <div class="input"><%= f.collection_select :type, EntityType.order(:name), :code, :name, :class => 'xlarge'%></div>
    </div>
    <div class="clearfix">
      <%= f.label :content %>
      <div class="input"><%= f.text_area :content, :rows => 5, :class => 'xlarge' %></div>
    </div>
    <div class="clearfix">
      <%= f.label :category_id %>
      <div class="input">
        <%= f.grouped_collection_select :category_id, EntityType.order(:name), :categories, :code, :id, :name, :class => 'xlarge' %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit 'Сохранить', :class => 'btn primary' %>
    </div>
  <% end %>
</div>
