<div id="entity_<%= @entity.id %>" class="entity">
  <table>
    <tr>
      <td class="image"><%= image_tag @entity.user.avatar_url, :size => '50x50' %></td>
      <td class="info">
        <div class="entity_content">
          <% if @entity.created_at.strftime('%Y-%m-%d') == Time.now.strftime('%Y-%m-%d') %>
            <span class="label success">New</span>
          <% end %>
          <%= link_to h(@entity.user.full_name), @entity.user.auth_url, :class => 'author', :target => 'blank' %>
          <div class="pull-right">
            <% if is_admin? && @entity.not_approved? %>
              <%= link_to 'Утвердить', approve_entity_path(@entity), :class => 'approve_link', :method => 'post', :remote => true %>
            <% end %>
            <% if is_admin? %>
              <%= link_to 'Удалить', entity_path(@entity), :class => 'remove_link', :confirm => 'Вы согласны?', :method => 'delete', :remote => true %>
            <% end %>
          </div>
          <div>
            <%=raw nl2br(h @entity.content) %>
          </div>
        </div>
        <div class="entity_footer">
          <div class="pull-left">
            <span><%= Russian::strftime(@entity.created_at, '%d %b в %H:%M') %></span>
            <%= render :partial => 'shared/add_to_favorites', :locals => { :entity => @entity } if is_logged? %>
            <div class="social-button">
              <!-- AddThis Button BEGIN -->
              <div class="addthis_toolbox addthis_default_style ">
              <a class="addthis_button_preferred_1"></a>
              <a class="addthis_button_preferred_2"></a>
              <a class="addthis_button_preferred_3"></a>
              <a class="addthis_button_preferred_4"></a>
              <a class="addthis_button_compact"></a>
              <a class="addthis_counter addthis_bubble_style"></a>
              </div>
              <!-- AddThis Button END -->
            </div>
          </div>
          <%= render :partial => 'shared/voting', :locals => { :entity => @entity } %>
          <br class="clear" />
        </div>
      </td>
    </tr>
  </table>
</div>