<div id="entity_<%= entity.id %>" class="entity">
  <table>
    <tr>
      <td>
        <div class="entity_content">
          <% if entity.created_at.strftime('%Y-%m-%d') == Time.now.strftime('%Y-%m-%d') %>
            <span class="label success">New</span>
          <% end %>
          <% if entity.type == 'Status' %>
            <span class="label notice">Статус</span>
          <% elsif entity.type == 'Anecdot' %>
            <span class="label important">Анекдот</span>
          <% end %>
          <span>от <%= link_to h(entity.user.full_name), entity.user.auth_url, :class => 'author', :target => 'blank' %></span>
          <div class="pull-right">
            <%= link_to 'Удалить из избранного', favorite_path(entity), :class => 'remove_link', :confirm => 'Вы согласны удалить из избранного?', :method => 'delete', :remote => true %>
          </div>
          <a class="entity_text" href="<%= entity_path(entity)%>" title="Читать полностью">
            <%=raw nl2br(h entity.content) %>
          </a>
        </div>
        <div class="entity_footer">
          <div class="pull-left">
            <span><%= Russian::strftime(entity.created_at, '%d %b в %H:%M') %></span>
          </div>
          <div class="pull-right">
            <span><i class="icon-heart"></i> <%=entity.rating%></span>
          </div>
          <br class="clear" />
        </div>
      </td>
    </tr>
  </table>
</div>