<% if (@entity.errors.present?) %>
  if ($('#new_entity div.error_explanation').length) {
    $('#new_entity div.error_explanation').replaceWith('<%= j render :partial => 'shared/form_errors', :locals => { :errors => @entity.errors }%>');
  } else {
    $('#new_entity').prepend('<%= j render :partial => 'shared/form_errors', :locals => { :errors => @entity.errors }%>');
  }
<% else %>
  $('#modal-form').modal('hide');
  $('#new_entity').slideDown(1000, function() { $(this).remove(); });
  $('#content div.row').prepend($('<%= j content_tag :div,  "Запись успешно добавлена. #{is_admin? ? '' : 'Ожидается проверки модератора.'}", :class => "alert-message alert"%>'));
  $('div.alert-message').flashMessage();
<% end %>