<div id="entities">
  <% if params[:type].nil? %>
    <% title 'Новинки смешного дня' %>
    <% page_title 'Лента' %>
  <% elsif params[:type] == 'anecdot' %>
    <% title 'Отличные Анекдоты' %>
    <% page_title 'Все Анекдоты' %>
  <% elsif params[:type] == 'status' %>
    <% title 'Отличные Статусы' %>
    <% page_title @category ? "#{@category.name} cтатусы" : 'Все Статусы' %>
  <% end %>
  <%= render :partial => 'entities/entity', :collection => @entities %>
</div>
<%= will_paginate @entities  %>

<% if params[:type] == 'status' %>
  <% content_for :left_side do %>
    <%= render :partial => 'shared/categories', :locals => { :categories => Category.find_all_by_entity_type_id(2) } %>
  <% end %>
<% end %>

