<% if is_logged? %>
  if ($('#new_entity').length == 0) {
    $('#modal-form div.form').html('<%= j render('form')%>');
    var categories = $('#entity_category_id').html(),
        categoryParent = $('#entity_category_id').parents('div.clearfix');
      categoryParent.hide();
    $('#entity_type').change(function() {
      var type = $(this).val(),
          escaped_type = type.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
      var options = $(categories).filter('optgroup[label=' + escaped_type + ']').html();
      if (options) {
        $('#entity_category_id').html(options);
        categoryParent.show();
      } else {
        $('#entity_category_id').empty();
        categoryParent.hide();
      }
    });
    $('#new_entity').customFormSubmit();
  }
  $('#modal-form').modal('show');
<% else %>
  if ($('#content div.alert-message').length == 0) {
    $($('#content div.row').children()[0]).prepend($('<%= j content_tag :div,  "Вы должны авторизироваться чтобы создавать записи.", :class => "alert-message "%>'));
  }
  $('div.alert-message').flashMessage();
<% end %>