<% if @entity.type == 'Anecdot' %>
  <% title 'Отличный Анекдот'%>
  <% page_title 'Анекдот'%>
<% elsif @entity.type == 'Status' %>
  <% title 'Отличный статус'%>
  <% page_title 'Статус' %>
<% end %>

<%= render 'full_entity' %>
<div id="comments">
  <div class="comments-content">
    <%= render @entity.comments %>
  </div>
  <% if is_logged? %>
    <% @comment = @entity.comments.build %>
    <%= render 'comments/form' %>
  <% else %>
    <div>Чтобы комментировать запись Вы должны авторизироваться .</div>
  <% end %>
</div>
