<h1>New user</h1>
<%= form_for(@user) do |f| %>
  <fieldset>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="clearfix">
      <%= f.label :email %>
      <div class="input"><%= f.text_field :email %></div>
    </div>
    <div class="clearfix">
      <%= f.label :password %>
      <div class="input"><%= f.password_field :password %></div>
    </div>
    <div class="clearfix">
      <%= f.label :password_confirmation %>
      <div class="input"><%= f.password_field :password_confirmation %></div>
    </div>
    <div class="actions">
      <%= f.submit 'Register', :class => 'btn primary' %>
    </div>
  </fieldset>
<% end %>
