<% if !current_user.favorite_store.include?(entity) %>
  <span class="add-to-favorites">
    <span>|</span>
    <%= link_to 'Добавить в избранное', favorites_path(:entity_id => entity.id), :class => 'favorite_link', :title => 'Добавить в избранное', :method => 'post', :remote => true %>
  </span>
<% end %>