<div class="category">
  <h3>Категории</h3>
  <ul>
    <% categories.each do |category| %>
      <li><%= link_to_unless(params[:category_id].to_i == category.id, category.name, params.merge(:category_id => category.id, :page => nil)) %></li>
    <% end %>
  </ul>
</div>
