<div id="voting_<%= entity.id %>" class="pull-right">
  <% if is_logged? and !current_user.voted_store.include?(entity) %>
  	<%= link_to content_tag(:i, '', :class => 'icon-plus'), votes_path(:entity_id => entity.id, :rate => 'plus'), :title => 'Проголосовать за', :rel => 'tooltip', :method => 'post', :remote => true %>
  	<%= link_to content_tag(:i, '', :class => 'icon-minus'), votes_path(:entity_id => entity.id, :rate => 'minus'), :title => 'Проголосовать против', :rel => 'tooltip', :method => 'post', :remote => true %>
  <% end %>
  <span><i class="icon-heart"></i> <%= entity.rating%></span>
</div>