/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *= require css/bootstrap
 *= require jquery.jgrowl
 *= require_self
*/

/* Override some defaults */
html, body {
  background-color: #eee;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
  min-height: 500px;
}
.content .category-fixed {
  position: fixed;
  top: 40px;
  z-index: 100;
}
/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}

.page-header h1 {
  display: inline-block;
}

.topbar .btn {
  border: 0;
}
#right_navigation {
  height: 40px;
}

#right_navigation .auth_icon a {
  padding: 4px;
}

.head-manage-menu {
  padding: 5px;
  margin-bottom: 5px;
  text-align: right;
}
.head-manage-menu span {
  margin-right: 5px;
}

/*Entity*/
.entity td.image {
  width: 60px;
  padding: 5px;
}
.entity td.info a.author {
  font-weight: bold;
}
.entity div.entity_footer {
  margin-top: 10px;
  font-size: 11px;
  color: #555555;
}
.entity a.entity_text {
  display: block;
  font-style: normal;
  font-weight: normal;
  color: #404040;
}
.entity a.entity_text:hover {
  text-decoration: none;
}

.entity .social-button {
  margin-left: 10px;
  display: inline-block;
  width: 250px;
}

/*Comment form*/
.comment-form {
  margin-top: 10px;
}
  .comment-form form {
    margin: 0;
  }
  .comment-form .comment-form-header {
    color: #00438A;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .comment-form .comment-form-content {
    margin-bottom: 5px;
  }
    .comment-form .comment-form-content textarea {
      width: 99%;
      height: 40px;
    }
/* Comments*/
#comments {
  margin-left: 80px;
}
  #comments .comments-content {
    margin-bottom: 10px;
  }

.comment {
  border-top: 1px solid #E9EDF1;
  padding: 5px 0;
}
  .comment .comment-avatar {
    width: 45px;
    height: 35px;
    float: left;
  }
  .comment .comment-data {
    overflow: hidden;
    float: left;
  }
  .comment .comment-text {
    padding-top: 5px;
    font-size: 12px;
  }
  .comment .comment-footer {
    font-size: 10px;
    color: #999999;
  }

.clear:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/* paginator*/

.pagination {
  background: #f1f1f1;
  text-align: center;
  padding: 1em;
  cursor: default;
}
  .pagination a, .pagination span {
    padding: 0.2em 0.3em;
  }
  .pagination .disabled {
    color: #aaaaaa;
  }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
  }
  .pagination a {
    border: 0;
    float: none;
    line-height: 1.4em;
    text-decoration: none;
    color: black;
  }
    .pagination a:hover, .pagination a:focus {
      text-decoration: underline;
    }

/* errors */
.error_explanation ul {
  list-style: none;
  margin: 5px 0;
}
.error_explanation ul li {
  color: #DA4F49;
}



