<li class="dropdown" data-dropdown="dropdown">
  <!--<%= image_tag current_user.avatar_url, :size => '24x24' %>-->
  <a class="dropdown-toggle">
    <span class="full_name"><%= current_user.full_name %></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Избранное', favorites_path %></li>
    <li class="divider"></li>
    <li><%= link_to 'Выйти', signout_path %></li>
  </ul>
</li>
