<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= h(yield(:title) || 'Смешной день') %></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/assets/icon.ico">
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f3956894d0352b6"></script>
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <%= link_to root_url, :class => 'brand' do %>
            <img src="/assets/logo.png" alt="Смешной день" width="20" height="20" title="Смешной день" />
            Смешной День
          <% end %>
          <ul class="nav">
            <%= nav_link 'Анекдоты', '/anecdots', (controller?('entities') and params[:type] == 'anecdot') %>
            <%= nav_link 'Статусы', '/statuses', (controller?('entities') and params[:type] == 'status') %>
          </ul>
          <ul class="nav secondary-nav" id="right_navigation">
            <% if is_logged? %>
              <%= render 'layouts/user_menu' %>
            <% else %>
              <li class="auth_icon">
                <a href="/auth/vkontakte" title="Войти через ВКонтакте">
                  <%= image_tag 'vkontakte_32.png', :size => "32x32" %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="content" class="content">
        <% if content_for?(:page_title) %>
          <div class="page-header">
            <h1><%= h(yield :page_title) %></h1>
            <div class="pull-right">
              <%= link_to 'Добавить', new_entity_path, :remote => true, :class => 'btn primary' %>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="span<%= content_for?(:left_side) ? '10' : '14' %>">
            <% flash.each do |key, msg| %>
              <%= content_tag :div, msg, :class => "alert-message #{(key == :notice) ? 'success' : key}"%>
            <% end %>
            <% if controller?('entities') and action?('index') %>
              <div class="head-manage-menu">
                <span><%= link_to_unless(params[:order] != 'popular', 'Новые', params.merge(:order => nil, :page => nil)) %></span>
                <span><%= link_to_unless(params[:order] == 'popular', 'Популярные', params.merge(:order => 'popular', :page => nil)) %></span>
              </div>
            <% end %>
            <%= yield %>
          </div>
          <% if content_for? :left_side %>
            <div class="span4"><%=raw yield(:left_side) %></div>
          <% end  %>
        </div>
      </div>
      <footer>
        <p>&copy; Отличное настроение <%= Time.now.year %></p>
      </footer>
    </div> <!-- /container -->
    <div id="modal-form" class="modal hide fade">
      <div class="modal-header">
        <a data-dismiss="modal" class="close">&times;</a>
        <h3>Новая запись</h3>
      </div>
      <div class="modal-body">
        <div class="form"></div>
      </div>
    </div>
  </body>
</html>